.login {
  max-width: 100%;
  height: 100vh;
  width: 100vw;
  background: #002647;
  overflow: hidden;
}
.rowLogin {
  padding-top: 11%;
}
.col {
  display: flex;
  justify-content: center;
}
.FormLogin {
  width: 320px;
  height: 440px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}
.title {
  text-align: center;
  font-size: 25px;
}
.buttonSubmit {
  width: 225px;
  height: 35px;
  color: #fff;
  background: #002647;
  border-radius: 5px;
}
@media screen and (max-height: 850px) and (max-width: 400px) {
  .rowLogin {
    padding-top: 30%;
  }
}
